.dockContainer {
  position: fixed;
  bottom: 52px;
  text-align: center;
  right: 20%;
  left: 17%;
  width: 64%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 21px 21px 21px 21px;
 
  border-top-width: 2px;
  border-top-style: solid;
  border-left-width: 2px;
  border-left-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  
}
.img {
  height: 50px;
  width: 50px;
 filter: drop-shadow(2px 6px 1px rgb(5, 5, 5));
 
  
}
